---
layout: default
title: Our Story
description: Creative Homes is a specialist in Modern Timber Pole Homes located on the Gold Coast.
permalink: /story
nav: "#283A2C"
navbar: ""
logo: logo-dark.svg
image: creative_homes_stockyard_crt_16.jpg
---
<section class="pt-10 py-xl-20 bg-white" >
    <div class="container">
      <div class="row g-2 justify-content-center mb-8">
        <div class="col-8 text-center">
          <h4 class="smcaps py-8">MORE ABOUT US AND HOW WE DO IT</h1>
          <h1 class="fs-h1" data-aos="fade-down" data-aos-delay="150" class="aos-init">Our story</h1>
          <blockquote class="blockquote my-5">
            <p class="fs-4  fw-bold mb-0 lh-sm" data-aos="fade-up" data-aos-delay="150" class="aos-init">We create liveable spaces combining the best of indoor and outdoor living that reflect our Australian lifestyle.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section data-aos="fade-up" data-aos-delay="150" class="aos-init">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
            <img class="img-fluid" src="{{site.assets}}{{page.image | relative_url }}" alt="">   
        </div>
      </div>
    </div>
  </section>
  <section class="py-10 py-xl-15 bg-secondary">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-6">
          <p class="lead">The Creative Homes philosophy to architecture and building is elegant and simple. Designing unique houses that make the most out of the position. Working with the aspect and natural surroundings to compliment rather than infringe. </p>
          <p>We focus on the details and craftsmanship. We aim to understand our client needs and deliver a beautiful home. Our repeat clientèle is testimony of our reputation.</p>
          <p>Striving to make the least amount of impact on the land and taking the challenge to turn what would be considered a negative aspect into a positive. We can design for steep, narrow and other challenging blocks of land. </p>
          <p>We understand that this is one of the biggest events and investments in your life and we understand the importance it has to both you and your family.</p>
          <p>Creative Homes will follow the project all the way from start to finish. From obtaining all the relevant building and planning permits to organising the trades from our dedicated and outstanding team of tradesmen.</p>
        </div>
      </div>
    </div>
  </section>

{% include why.html %}
{% include process.html %}
{% include contact.html %}
