---
layout: default
title: Home
description: Creative Homes is a specialist in Modern Timber Pole Homes located on the Gold Coast. Our buildings reflect the Australian lifestyle that combine the best of indoor and outdoor living.
permalink: /
nav: "#fff"
navbar: "navbar-dark"
logo: logo-light.svg
---

<!-- hero -->
<section class="cover overflow-hidden bg-black inverted">
  <div class="d-flex flex-column py-20 min-vh-100 container foreground">
    <div class="row justify-content-center my-auto">
      <div class="col-md-8 text-center">
        <h1 class="home-title fade-up text-center text-white mx-2 z-2" data-aos="zoom-out" data-aos-delay="600">working with you & nature</h1>
      </div>
    </div>
  </div>

  <div
    class="background background-overlay text-black"
    data-aos="zoom-out"
    data-aos-delay="200"
    data-poster="{{site.baseurl}}/assets/images/projects/treehouse.jpg"
  >
    <video playsinline autoplay muted loop data-video>
      <source src="{{site.baseurl}}/assets/video/Creative_Homes_Gold_Coast_Builder_720.mp4" type="video/mp4" />
    </video>
  </div>
  <span class="scroll-down"></span>
</section>

<!-- features -->
<section class="py-15 py-xl-20 overflow-hidden gradient green-wood inverted">
  <div class="container">
    <div class="row justify-content-center position-relative">
      <div class="col-xl-10">
        <h2 class="fs-2 text-center text-white" data-aos="zoom-in" data-aos-delay="100">
          Creative Homes is a family operated construction company on the Gold Coast with over 20 years of luxury custom home building.
        </h2>
      </div>
    </div>
  </div>
</section>

{% include story.html %}
{% include projects.html %}
{% include testimonials-centered.html %}
{% include contact.html %}
