<section class="py-4 py-xl-20 border-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <div class="smcaps py-4" data-aos="fade-up" data-aos-delay="200">make an enquiry</div>
          <h2 class="py-10" data-aos="fade-up" data-aos-delay="200">Let's talk about your new home</h2>
          <a href="{{'contact' | relative_url }}" class="btn btn-block btn-outline-black smcaps" data-aos="fade-up" data-aos-delay="200">Get in touch</a>

        </div>
      </div>
    </div>
  </section>