
  <!-- gallery -->
  <section class="overflow-hidden" data-aos="fade-left">
    <div class="container gallery-1">
      <div class="row flex-nowrap align-items-end g-2 g-xl-5 mb-2 mb-xl-5" data-bottom-top="transform: translateX(-25%)"
        data-top-bottom="transform: translateX(-40%)">
        <div class="col-6">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-1.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-1.jpg')">
            </span>
          </figure>        </div>
        <div class="col-6">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-2.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-2.jpg')">
            </span>
          </figure>        </div>
        <div class="col-6">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-3.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-3.jpg')">
            </span>
          </figure>        </div>
        <div class="col-6">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-4.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-4.jpg')">
            </span>
          </figure>        </div>
      </div>
      <div class="row flex-nowrap align-items-start g-2 g-xl-5" data-bottom-top="transform: translateX(-50%)"
        data-top-bottom="transform: translateX(-35%)">
        <div class="col-4">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-4.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-4.jpg')">
            </span>
          </figure>        </div>
        <div class="col-4">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-5.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-5.jpg')">
            </span>
          </figure>        </div>
        <div class="col-4">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-6.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-6.jpg')">
            </span>
          </figure>        </div>
        <div class="col-4">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-7.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-7.jpg')">
            </span>
          </figure>        </div>
        <div class="col-4">
          <figure class="media equal equal-16-10 media-image" 
            data-bp='{"imgSrc": "./assets/images/coworking-8.jpg" , "parentGalleryClass": "gallery-1" }' >
            <span  style="background-image: url('assets/images/coworking-8.jpg')">
            </span>
          </figure>        </div>
      </div>
    </div>
  </section>