
    <section class="overflow-hidden">
        <div class="container-full">
          <div class="row g-0">
            {% if page.previous %}
                {% assign previous = page.previous %}
            {% else %}
                {% assign previous = site.posts[0] %}
            {% endif %}
            <div class="col-md-6">
              <a href="{{site.baseurl}}{{previous.url}}" class="card card-hover-reveal equal-lg-2-1 bg-primary inverted">
                <div class="card-wrap">
                  <div class="card-footer my-auto">
                    <div class="row justify-content-center align-items-center">
                      <div class="col-auto">
                        <svg width="11px" height="19px" viewBox="0 0 11 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <path d="M1.71767978,0.596194078 L11,9.53248069 L10.919,9.61019408 L10.9700148,9.65990747 L1.68769459,18.5961941 L1.66533454e-15,16.9714147 L7.675,9.58119408 L0.0299851903,2.22097346 L1.71767978,0.596194078 Z" id="Combined-Shape" fill="#FFFFFF" transform="translate(5.500000, 9.596194) scale(-1, 1) translate(-5.500000, -9.596194) "></path>
                          </g>
                      </svg>                      </div>
                      <div class="col col-xl-6">
                        <h2>{{previous.title}}</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="background" style="background-image: url('{{site.assets}}{{previous.image | relative_url }}')">
                </span>
              </a>
            </div>
            {% if page.next %}
                {% assign next = page.next %}
            {% else %}
                {% assign last lastPostIndex = site.posts | size | minus: 1 %}
                {% assign next = site.posts[lastPostIndex] %}
            {% endif %}
            <div class="col-md-6">
              <a href="{{site.baseurl}}{{next.url}}" class="card card-hover-reveal equal-lg-2-1 bg-primary inverted">
                <div class="card-wrap">
                  <div class="card-footer my-auto text-end">
                    <div class="row justify-content-center align-items-center">
                      <div class="col col-xl-6">
                        <h2>{{next.title}}</h2>
                      </div>
                      <div class="col-auto">
                        <svg width="12px" height="19px" viewBox="0 0 12 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <path d="M2.6214857,0.596194078 L11.9038059,9.53248069 L11.8228059,9.61019408 L11.8738207,9.65990747 L2.59150051,18.5961941 L0.903805922,16.9714147 L8.57880592,9.58119408 L0.933791113,2.22097346 L2.6214857,0.596194078 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                          </g>
                      </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="background" style="background-image: url('{{site.assets}}{{next.image | relative_url }}')">
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>