<section class="py-15 py-xl-20 bg-primary inverted">
  <div class="container mt-1 text-accent5">
    <h2 class="text-center text-accent aos-init aos-animate" data-aos="fade-up">Our design and build process</h2>
    <div class="row pt-10 g-5">
      <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up">
      <h3 class="fs-1 pb-0 text-accent">1</h3>
        <h3 class="fs-5 mt-1 text-accent">EVALUATE</h3>
        <p class="mx-2 fs-lg">We start with looking at the land and site plan. Evaluating the contours of the land, water run off and sun position. Working with nature means your home will be warmer in winter and cooler in summer.</p>
      </div>
      <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <h3 class="fs-1 pb-0 text-accent">2</h3>
        <h3 class="fs-5 mt-1 text-accent">CONSULT</h3>
        <p class="mx-2 fs-lg">We discuss what is important to you and how you will utilise your house—entertaining areas, family hubs, retreats, man-caves, storage and more. Colours and materials—wood, stone, metal etc.</p>
      </div>
      <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <h3 class="fs-1 pb-0 text-accent">3</h3>
        <h3 class="fs-5 mt-1 text-accent">DESIGN</h3>
        <p class="mx-2 fs-lg">The design process is based on your requirements. We will guide you on the best way to achieve by tailoring a custom house design for you. These will be presented as custom designed CAD house plans.</p>
      </div>
    </div>
    <div class="row pt-10 g-5">
      <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up">
        <h3 class="fs-1 pb-0 text-accent">4</h3>
        <h3 class="fs-5 mt-1 text-accent">CONTRACT</h3>
        <p class="mx-2 fs-lg">We begin by getting you to sign a Prelim Agreement. Once this is signed we will obtain all relevant reports and begin the design process. When the design is finalised and you’ve signed off that you’re happy with the plans, we will have a meeting to sign the building contract. This usually takes a few hours as we go over the contract in great depth to ensure that you understand and are comfortable with everyhing. </p>
      </div>
      <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <h3 class="fs-1 pb-0 text-accent">5</h3>
        <h3 class="fs-5 mt-1 text-accent">CONSTRUCTION</h3>
        <p class="mx-2 fs-lg">After the contract is signed and deposit paid, we begin site prep and then construction. The formal stages of the construction are: Base Stage, Frame Stage, Enclosed Stage, Fixing Stage and Practical Completion. We will be by your side through the entire process to answer any questions, and to guide you however we can.</p>
      </div>
      <div class="col-md-6 col-lg-4 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <h3 class="fs-1 pb-0 text-accent">6</h3>
        <h3 class="fs-5 mt-1 text-accent">HANDOVER</h3>
        <p class="mx-2 fs-lg">Your new home is ready! Two weeks prior to receiving your keys, we will do a complete walk through with you to ensure you are completely satisfied.</p>
        <p class="mx-2 fs-lg">At the final handover, you will receive all of your keys, remote controls, instruction manuals and warranties.</p>
      </div>
    </div>
  </div>
</section>