<section class="py-15 py-xl-20 overflow-hidden">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-3">
          <h2>Our design and build process</h2>
        </div>
        <div class="col-lg-8">
          <div class="accordion accordion-steps" id="accordion-steps" style="--bs-primary: #1d4b40;">
            <div class="accordion-item">
              <h3 class="accordion-header" id="heading-steps-1">
                <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-steps-1" aria-expanded="false" aria-controls="collapse-steps-1">
                  EVALUATE
                </button>
              </h3>
              <div id="collapse-steps-1" class="accordion-collapse collapse" aria-labelledby="heading-steps-1" data-bs-parent="#accordion-steps" style="">
                <div class="accordion-body">
                  <p>We start with looking at the land and site plan. Evaluating the contours of the land, water run off and sun position. Working with nature means your house will be warmer in winter and cooler in summer as well not having any water run-off problems.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-steps-2">
                <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-steps-2" aria-expanded="false" aria-controls="collapse-steps-2">
                  CONSULT
                </button>
              </h2>
              <div id="collapse-steps-2" class="accordion-collapse collapse" aria-labelledby="heading-steps-2" data-bs-parent="#accordion-steps">
                <div class="accordion-body">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo,
                    voluptas. Quibusdam, quia. Accusantium, quo maxime est ullam at voluptas aspernatur. Iure
                    assumenda labore esse vero ad. Deleniti ea totam dolorem.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-steps-3">
                <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-steps-3" aria-expanded="false" aria-controls="collapse-steps-3">
                  DESIGN
                </button>
              </h2>
              <div id="collapse-steps-3" class="accordion-collapse collapse" aria-labelledby="heading-steps-3" data-bs-parent="#accordion-steps" style="">
                <div class="accordion-body">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo,
                    voluptas. Quibusdam, quia. Accusantium, quo maxime est ullam at voluptas aspernatur. Iure
                    assumenda labore esse vero ad. Deleniti ea totam dolorem.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-steps-3">
                <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-steps-3" aria-expanded="false" aria-controls="collapse-steps-3">
                  CONTRACT
                </button>
              </h2>
              <div id="collapse-steps-3" class="accordion-collapse collapse" aria-labelledby="heading-steps-3" data-bs-parent="#accordion-steps" style="">
                <div class="accordion-body">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo,
                    voluptas. Quibusdam, quia. Accusantium, quo maxime est ullam at voluptas aspernatur. Iure
                    assumenda labore esse vero ad. Deleniti ea totam dolorem.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-steps-3">
                <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-steps-3" aria-expanded="false" aria-controls="collapse-steps-3">
                  CONSTRUCTION
                </button>
              </h2>
              <div id="collapse-steps-3" class="accordion-collapse collapse" aria-labelledby="heading-steps-3" data-bs-parent="#accordion-steps" style="">
                <div class="accordion-body">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo,
                    voluptas. Quibusdam, quia. Accusantium, quo maxime est ullam at voluptas aspernatur. Iure
                    assumenda labore esse vero ad. Deleniti ea totam dolorem.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-steps-3">
                <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-steps-3" aria-expanded="false" aria-controls="collapse-steps-3">
                  HANDOVER
                </button>
              </h2>
              <div id="collapse-steps-3" class="accordion-collapse collapse" aria-labelledby="heading-steps-3" data-bs-parent="#accordion-steps" style="">
                <div class="accordion-body">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo,
                    voluptas. Quibusdam, quia. Accusantium, quo maxime est ullam at voluptas aspernatur. Iure
                    assumenda labore esse vero ad. Deleniti ea totam dolorem.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>