<section class="py-15 py-xl-20 bg-black overflow-hidden min-vh-80">
    <div class="level-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-white text-center" data-aos="zoom-in" data-aos-delay="100">
            <h1 class="fw-light mb-5" ><span class="fw-bold">Our Projects</h1>
            <a href="projects" class="smcaps btn btn-outline-white">view projects</a>
          </div>
        </div>
      </div>
    </div>
    <figure class="background background-overlay skrollable skrollable-between" style="background-image: url('assets/images/hero-7.jpg'); transform: scale(1.0644748858447488);" data-bottom-top="transform: scale(1);" data-top-bottom="transform: scale(1.7);"></figure>
  </section>