<section class="py-15 py-xl-20 bg-skin">
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-xl-between">
        <div class="col-lg-8 col-xl-6">
          <div class="row g-2 gallery-1">
            <div class="col aos-init aos-animate" data-aos="fade-up">
                <div class="frame">
                    <img src="../assets/images/creative-homes-gold-coast.jpg" class="img-fluid" alt="Image">
                    <span></span>
                  </div>        
             </div>
          </div>
        </div>
        <div class="col-lg-8 col-xl-5">
          <h2 data-aos="fade-up" data-aos-delay="200">Creating homes that people naturally love.</h2>
          <p data-aos="fade-up" data-aos-delay="200" class="pb-4">We are passionate about working closely with our clients to create high class homes that are built around their lifestyle. With decades of experience and knowledge you are in safe and trusted hands.</p>
          <a href="story" data-aos="fade-up" data-aos-delay="200" class="smcaps btn btn-lg btn-outline-black">learn more about us</a>

        </div>
      </div>
    </div>
  </section>
