<!-- testimonials -->
<section class="py-15 py-xl-20 border-bottom">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-12">
          <h2>Why people choose Cube ?</h2>
        </div>
      </div>
      <div class="row g-3 g-lg-5 justify-content-center">
        <div class="col-lg-6">
          <blockquote class="blockquote">
            <span class="lh-1 fs-1 mb-0 text-muted">"</span>
            <p class="fs-4 mb-3"><span class="fw-bold text-green">Build better websites.</span> A new template
              inspired by the
              world’s best design practices.</p>
            <footer class="blockquote-footer">
              <span class="d-block lh-1 text-black">Valerie Doe</span>
              <small>Senior Product Designer</small>
            </footer>
          </blockquote>
        </div>
        <div class="col-lg-6">
          <blockquote class="blockquote">
            <span class="lh-1 fs-1 mb-0 text-muted">"</span>
            <p class="fs-4 mb-3">Aperiam deserunt magnam, explicabo nihil cumque enim beatae fugit neque.</p>
            <footer class="blockquote-footer">
              <span class="d-block lh-1 text-black">Michael Doe</span>
              <small>Senior Product Designer</small>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>