<!-- testimonials -->
  <section class="py-15 pb-xl-20 overflow-hidden">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="carousel carousel-with-nav">
            <div data-carousel='{"controls": false, "autoHeight": true ,"gutter": 200, "center": true, "mouseDrag": true }'>
              <div>
                <blockquote class="text-center">
                  <h4 class="fs-4 my-3">“Building a home with Creative Homes was a dream come true! Clint and Alaana were sensational from end to end, and their communication, advice, honesty and expertise during our entire build process was exceptional.”</h4>
                  <footer class="blockquote-footer">
                    <span><span class="text-black">Brieane & Bradley Stewart </span> Bonogin, Gold Coast</span>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="text-center">
                  <h4 class="fs-4 my-3">“There was never a moment where there was too much trouble to go above and beyond”</h4>
                  <footer class="blockquote-footer">
                    <span><span class="text-black">Mark & Chika</span> Bonogin, Gold Coast</span>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="text-center">
                  <h4 class="fs-4 my-3">“We love the ambience of our home. We feel really privileged to be living here”</h4>
                  <footer class="blockquote-footer">
                    <span><span class="text-black">Karen & Richard Weston</span> Bonogin, Gold Coast</span>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="text-center">
                  <h4 class="fs-4 my-3">“As our first building experience, Creative Homes made the process simple, stress free and very enjoyable”</h4>
                  <footer class="blockquote-footer">
                    <span><span class="text-black">Phil & Karen Grey</span> Bonogin, Gold Coast</span>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="text-center">
                  <h4 class="fs-4 my-3">“Creative Homes delivered the home a month ahead of an already tight schedule”</h4>
                  <footer class="blockquote-footer">
                    <span><span class="text-black">Michelle and John</span> Bonogin, Gold Coast</span>
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

