<section class="py-15 py-xl-20 border-bottom">
    <div class="container">
      <div class="row mb-10">
        <div class="col-lg-6">
          <h2 class="fw-light"><span class="fw-bold">Why</span> build with us</h2>
        </div>
      </div>
      <div class="row g-3 g-xl-5">
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="icon-box icon-box-sm bg-opaque-green rounded-circle me-2"><i class="bi bi-check2 text-green"></i>
            </div>
            <div>
              <p class="fs-lg">We are experts in designing and building custom homes.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="icon-box icon-box-sm bg-opaque-green rounded-circle me-2"><i class="bi bi-check2 text-green"></i>
            </div>
            <div>
              <p class="fs-lg">We take pleasure in our adaptability and individualised service adapted to each client's needs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="icon-box icon-box-sm bg-opaque-green rounded-circle me-2"><i class="bi bi-check2 text-green"></i>
            </div>
            <div>
              <p class="fs-lg">We construct your home as if it were our own, paying close attention to every detail.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="icon-box icon-box-sm bg-opaque-green rounded-circle me-2"><i class="bi bi-check2 text-green"></i>
            </div>
            <div>
              <p class="fs-lg">We only work with experienced trades who are equipped to produce high-quality labour and finishes. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="icon-box icon-box-sm bg-opaque-green rounded-circle me-2"><i class="bi bi-check2 text-green"></i>
            </div>
            <div>
              <p class="fs-lg">We only build 2 or 3 residences each year ensuring it runs smoothly while giving exceptional, high-quality service.
            </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="icon-box icon-box-sm bg-opaque-green rounded-circle me-2"><i class="bi bi-check2 text-green"></i>
            </div>
            <div>
              <p class="fs-lg">We are sustainable and energy efficient saving money while also being better for the environment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>