
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition:transform .4s ease-in-out
  }
  
  @media (prefers-reduced-motion: reduce) {
    .offcanvas {
        transition:none
    }
  }
  
  .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2.5rem 2.5rem
  }
  
  .offcanvas-header .btn-close {
    padding: 1.25rem 1.25rem;
    margin-top: -1.25rem;
    margin-right: -1.25rem;
    margin-bottom:-1.25rem
  }
  
  .offcanvas-title {
    margin-bottom: 0;
    line-height:1.5
  }
  
  .offcanvas-body {
    flex-grow: 1;
    padding: 2.5rem 2.5rem;
    overflow-y:auto
  }
  
  .offcanvas-start {
    top: 0;
    left: 0;
    width: 400px;
    border-right: 0 solid rgba(0, 0, 0, 0.2);
    transform:translateX(-100%)
  }
  
  .offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 0 solid rgba(0, 0, 0, 0.2);
    transform:translateX(100%)
  }
  
  .offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-bottom: 0 solid rgba(0, 0, 0, 0.2);
    transform:translateY(-100%)
  }
  
  .offcanvas-bottom {
    right: 0;
    left: 0;
    height: 30vh;
    max-height: 100%;
    border-top: 0 solid rgba(0, 0, 0, 0.2);
    transform:translateY(100%)
  }
  
  .offcanvas.show {
    transform:none
  }
  .offcanvas-end {
    width: 100%;
    padding: 2.5rem;
    border:0
  }
  
  @media (min-width: 992px) {
    .offcanvas-end {
        max-width: 50vw;
        padding:5rem
    }
  }
  
  @media (min-width: 1200px) {
    .offcanvas-end {
        max-width: 35vw;
        padding:5rem
    }
  }
  
  .offcanvas-end .offcanvas-body {
    padding:0
  }
  
  .offcanvas-wrap {
    transition:transform 0.4s ease-in-out
  }
  
  .offcanvas-push .offcanvas-wrap {
    transform:translateX(-6.25rem)
  }
  
  .offcanvas-header {
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    border-bottom:1px solid #ddd
  }
  
  .offcanvas-title {
    font-size:1.125rem
  }

  